{% extends 'base.html.twig' %}

{% block title %}Editar artículo{% endblock %}

{% block body %}
    <h1>Editar artículo</h1>
    
    {% include 'comunes/_mensajes.html.twig' %}

    {% include 'compras/_formulario.html.twig' with {'accion': path('app_editar_articulo', {'id': compras.id}), 'etiqueta_btn_enviar': 'Editar'} %}
{% endblock %}