{% extends 'base.html.twig' %}

{% block title %}Escucha mientras trabajas
{% endblock %}

{% block body %}
	<h1>Tómate un descanso</h1>
    <h5>Aquí tienes algunas recomendaciones musicales para escuchar mientras trabajas, también te servirán para tomar un respiro.</h5>
	<iframe src="https://open.spotify.com/embed/artist/64tJ2EAv1R6UaZqc4iOCyj" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed/playlist/0vvXsWCC9xrXsKd4FyS8kM" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed/artist/1dABGukgZ8XKKOdd2rVSHM" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<br>
<iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX62RIcEOaBWi" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX3Ogo9pFvBkY" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWZZbwlv3Vmtr" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<br>
<iframe width="450" height="315" src="https://www.youtube.com/embed/v4coxDl_avw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="450" height="315" src="https://www.youtube.com/embed/21qNxnCS8WU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
